* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* **************************************** MENU CONTAINER ************************************************** */
.menu_container {
    border: 2px solid black;
    height: 5rem; 
    display: flex;
    align-items: center;
    /* Height will remain fix even if the size of the web page i.e. vh is decreased */
}

.menu_container>*{
    width: 25%;
    height:80%;
    border-right: 1px solid black;

} 

/* FORMATTING CONTAINER */
.formatting_container{
    display: flex;
    justify-content: space-around;
}

.active_button{
    background-color: rgb(59, 58, 58);
    color: white;
}
.subgroup{
    height:100%;
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.subgroup>*{
    width: 100%;
}

.BUI_Container{
    display: flex;
    justify-content: space-between;
}

.BUI_Container>*{
    width:30%;
}

.color_container{
    display: flex;
    justify-content: space-between;
}

.color_container>*{
    width:47%;
}

/* ALIGNMENT CONTAINER */
.alignment_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alignment_container>*{
    height: 50%;
    width: 20%;
    cursor: pointer;

}


/* **************************************** FORMULA CONTAINER ************************************************** */

.formula_container {
    border: 2px solid black;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(128, 128, 128, 0.562);
    /* Height will remain fix even if the size of the web page i.e. vh is decreased */

}

.address_box{
    width: 10%;
    height: 70%;
}

.formula_box{
    width: 85%;
    height: 70%;
}

.separator{
    font-size: 1.5rem;
    width:0.8%;
}


/* **************************************** SHEET CONTAINER ************************************************** */

.sheet_container {
    border: 1px solid black;
    height: 2.5rem;
    display: flex;
    background-color: lightgrey;
    /* Height will remain fix even if the size of the web page i.e. vh is decreased */

}

.sheet_list {
    width: 97%;
    display: flex;
    overflow: auto;
}

.sheet {
    /* min-width => atleast , max-width: => atmost  */
    min-width: 4rem;  
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon_container {
    border: 1px solid black;
    width: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 1.2rem;
    color: green;
}

.osd_container{
    font-size: 1.5rem;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

/* To hide scrollbar */
.sheet_list::-webkit-scrollbar {
    display: none;
}

.sheet_list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.active_sheet{
    background-color: white;
}


/* ***************************************** GRID CONTAINER ************************************************** */

.grid_container {
    height: calc(100vh - (5rem + 2.5rem + 2.5rem));
    overflow: auto;
    position: relative;
    /* Height will change when the size of the web page i.e. vh is decreased. So, to calculate remaining height we use calc() function */

}

.top_left_block{
    width: 2.5rem;
    height: 2.5rem;
    background-color: lightgray;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.block{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.top_row{
    display: flex;
    position: absolute;
    height: 2.5rem;
    top: 0rem;
    left: 2.5rem;
    background-color: lightgreen;
    z-index: 90;
}

.top_row_cell{
    min-width: 5rem;
    max-width: 5rem;
    min-height: 2.5rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;   
    align-items: center;
}

.cell{
    min-width: 5rem;
    max-width: 5rem;
    min-height: 2.5rem;
    border: 1px solid black;
    padding-top: 0.4rem;
}

.row{
    display: flex;
}

.grid{
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
}

.left_column{
    background-color: lightgreen;
    width: 2.5rem;
    position: absolute;
    top: 2.5rem;
    left: 0;
    z-index: 90;
}